.contact {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(69, 69, 69);
  box-shadow: 3px 3px 5px rgb(69, 69, 69);
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  transition: 500ms;
}

.contact:hover,
.contact:focus {
  border: 1px solid rgb(33, 33, 33);
  box-shadow: 3px 3px 5px rgb(33, 33, 33);
  transform: scale(1.02);
}

.contactDescr {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
}
