@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake --default;
}
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  margin: 0;
  width: 100%;
  place-items: center;
  width: auto;
}
